html {
    font-size: 14px;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-style: normal;
    background-color: #272e42;
    margin: 0 auto;
    max-width: 800px;
}

body {
    background-color: #000000;
    border: 5px solid #454545;
}

header {
    padding: 20px 20px;
    text-align: center;
}

nav {
    padding: 20px 20px;
    text-align: center;
}

footer {
    padding: 20px 20px;
}

main {
    padding: 20px 20px;
    border: 5px solid #000000;
}

h1 {
    font-size: 3.0em;
    margin: 0;
    padding: 20px 0;
    text-shadow: 2px 2px 2px #00000070;
}

h2 {
    font-size: 1.5em;
    margin: 0;
    padding: 10px 0;
}

h3 {
    font-size: 1.2em;
    margin: 0;
    padding: 5px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    font-size: 20px;
    padding: 16px;
    color: white;
}

nav li a {
    text-decoration: none;
}

nav a:link {
    color: #ffffff;
}

nav a:visited {
    color: #ffffff;
}

p, dl {
    font-size: 1.0em;
    line-height: 1.6;
    letter-spacing: 1px;
}

strong {
    color: #00aaff
}

img {
    display: block;
    margin: 0 auto;
    padding: 40px;
    max-width: 400px;
}

a.hover {
    text-decoration: none;
}

#contactEmail a {
    font-size: 16px;
    color: #00aaff;
    text-decoration: none;
}