html {
    font-size: 10px; /* px is "pixels", base font is now 10 pixels high */
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    background-color: #272e42;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #97b5e3;
    padding: 0 20px 20px 20px;
    border: 5px solid #000000;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #ffcb96;
    text-shadow: 2px 2px 2px #000000;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

strong, em {
    color: #ff7700
}

img {
    display: block;
    margin: 0 auto;
    width: 600px;
    height: 600px;
}